<h1>Ola Mundo !</h1>
<h2>Esse é o texto do principal</h2>
<a href="#">Exemplo de link</a>
<app-first-component></app-first-component>
<app-parent-data [name]="userName" [sobrenome]="jogador" [resultado]="nota" [apelido]="nomefei"></app-parent-data>
<!-- primeira informação [name] é como o nome vai ser chamada no componente filho e a
segunda informação é o dado que está sendo levado do componente pai.
 -->
<app-parent-data-second [apelido]="nickName" [userData]="userData"></app-parent-data-second>
<app-directives></app-directives>
<app-if-render></app-if-render>
<app-eventos></app-eventos>
<app-eventostwo></app-eventostwo>
<app-emitter></app-emitter>
<app-number-par></app-number-par>
